.md-header {
  background: linear-gradient(to right, #27791a, #194424);
}
p {
  font-size: 0.9em;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

.md-profile__description {
  text-align: start;
}

nav {
  text-align: start;
}

.md-nav--primary .md-nav__title .md-nav__icon::after {
  display: none !important;
}

.md-ellipsis {
  text-align: start;
}

h1 {
  text-align: center;
}

blockquote {
  font-size: 0.6rem;
}

.md-grid {
  max-width: 1000px;
}

span.blockspam {
  display: none;
}/*# sourceMappingURL=extra.css.map */

.homepage-intro {
  background-color: #fcf7ac;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
#latest-post {
  background: #f5f5f5;
  padding: 1px 25px;
  border-radius: 12px;
}
.divider {
  display: block;
  border-bottom: 1px solid #ddd;
  margin: 15px 0;
}

.in-memoriam {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background-color: #fbf4ec;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
}

.in-memoriam-text {
  flex: 1;
}

.in-memoriam img.round-image {
  flex-shrink: 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 0%;
}

.button{
  display: inline-block;
  background-color: #333;
  color: white!important;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #555;
}

#welkom-bij-de-parochie-van-de-heilige-martelaren-van-gorcum {
  background-image: url('/assets/banner/winter.jpeg');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  border-radius: 12px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.grid-sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .grid-sections {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s;
}

.grid-item:hover {
  background-color: #27791a;
  color: white!important;
}

.grid-item h3 {
  margin-top: 0;
}
